/* Reset */
*{
	margin:0;
	padding:0;
}

/* General Styling */
body{
	color:#fcfcfc;
	font:14px 'Segoe UI', Arial, sans-serif;
	background:#ccc;
}

a{
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

/* Custom Styling */
.container{
	width:70%;
	margin:10px auto;
	overflow:auto;
}

/* Nav Styling */
#navbar{
	display:block;
	height:40px;
	background:#13181d;
}

#navbar a{
	color:#fff;
	display:inline-block;
	height:40px;
	line-height:37px;
	padding:0 15px;
}

#navbar a.active, #navbar a:hover{
	background:#333;
}

/* Content Styling */
#main{
	display:block;
	overflow:hidden;
	width:100%;
	margin: 0 auto;
	min-height:475px;
}

#main li{
	float:left;
	height:96px;
	list-style:none;
	margin:6px;
	position:relative;
	width:125px;
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}

#main ul{
	overflow:hidden;
}

#main ul.hidden{
	display:none;
}

footer{
	text-align:center;
	color:#333;
	font-size:16px;
	font-weight:bold;
}